@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Montserrat:wght@900&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root{
    --primary-color: #ff6347;
    --white-color: #fff;
    --secundary-color: #0a1128;
    --black-color: #000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Josefin Sans';
    line-height: 1.5rem;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6{
    text-transform: uppercase;
    font-family: 'Berkshire Swash', sans-serif;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

span{
    color: var(--primary-color);
}

header{
    background-color: #fff;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.menu ul{
    display: flex;
}

.menu ul li a{
    text-transform: uppercase;
    display: block;
    padding: 1.5rem;
    font-weight: bold;
    color: var(--black-color);
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.menu ul li a:hover{
    color: var(--primary-color);
}

.menu h1 a{
    align-items: center;
    color: var(--black-color);
}

.espacamento{
    height: 4.5rem;
}

.section{
    min-height: 100vh;
}

.main-bg{
    background-image: url('/assets/img/bg-main100.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: 3rem
}

.conteudo-Home{
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    min-height: 100vh;
    max-width: 100%;
    gap: 2rem;
}

.coluna-intro{
    text-align: center;
    line-height: 3rem;
    padding: 3rem;
    align-self: center;
    margin-top: -3rem;
}

.coluna-intro p{
   font-size: 2.5rem;
}

.coluna-intro h2{
    margin: 2rem auto;
    font-size: 4rem;
}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao input{
    margin-right: 2rem;
}

.btn{
    color: var(--black-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.2rem;
    padding: 0.7rem;
    font-family:  'Berkshire Swash';
    font-size: 1.2rem;
    margin-top: 3rem;
    cursor: pointer;
    background: linear-gradient(to right, var(--primary-color), var(--white-color));
    background-size: 200% 100%;
    transition: background-position 0.5s;
    box-shadow: 0 0 0.5rem 0 var(--black-color);
}

.coluna-intro .btn:hover{
    background-position: -100% 0;
}

.sobre-bg{
    background-image: url('/assets/img/fundo-branco.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.grid-sobre{
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 1rem;
    justify-items: center;
    align-items: center;
}

.sobre-conteudo, .sobre-coluna-02{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.sobre-coluna-02 img{
    height: 36rem;
}

.sobre-conteudo p{
    margin-top: 2rem;
    color: var(--black-color);
    font-size: 1.4rem;
    line-height: 1.5rem;
}

.sobre-conteudo h2{
    color: var(--primary-color);
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.cardapio-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.cardapio{
    text-align: center;
    background-color: #f4f4f4;
    border-top: 0.005rem solid var(--primary-color);
}

.cardapio .cardapio-conteudo{
    background-color: var(--white-color);
    box-shadow: 0 0 1rem #fff;
}

.cardapio h2{
    margin-bottom: 0.8rem;
    color: var(--primary-color);
}

.cardapio p{
    margin-bottom: 0.8rem;
    font-size: 1.3rem;
}

.card {
    box-shadow: 0 0 0.2rem 0 var(--black-color);
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    padding: 1rem;
}

.card img {
    width: 100%;
    height: auto;
    max-width: 30rem;
    margin-right: 1.5rem;
}

.item-info {
    flex-grow: 1;
}

.item-info p:nth-child(3){
    color: var(--primary-color);
}

.item-price {
    font-weight: bold;
}
